<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input type="text" #heroName />
  <button (click)="addHero(heroName.value)">Add Hero</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- <button
      type="button"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
    >
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button> -->
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </a>
  </li>
</ul>

<!-- <app-hero-details [hero]="selectedHero"></app-hero-details> -->
